body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../image/4853433.jpg');
  background-size: cover;
  background-position: center center;
}